
.bacdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 27, 27, 0.548);
    opacity: 0;
    pointer-events: none;
    transition: opacity 600ms linear;
   
}

.modal__window{
    width: 930px;
    padding: 40px 16px;
    background-color: #fff;
}

.backdrop__is-hidden {
    opacity: 1;
    pointer-events: initial;
  }


.btnToggle{
    margin-left: 800px;
}  






.modal-gallery__card{
    list-style: none;
}

.modal-title__wrapper{
    display: flex;
    width: 100%;
}

.modal-wrapper__info{
   margin-left: 18px;
}

.modal__image{
    width: 320px;
}

.modal__title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;

}


.data__wrapper{
    display: flex;
    margin-bottom: 20px;
}

.modal__info{
    font-size: 16px;
    font-weight: 500;
    color: #8C8C8C;
    margin-bottom: 15px;
}

.modal__data{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: 85px;
}

.modal__data--upper{
    text-transform: uppercase;
}

.modal__about{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.vote__data{
    padding-left: 8px;
    padding-right: 4px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: rgb(241, 155, 24);
}

.modal__about--text{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.67;
}

.add-watch{
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: rgb(126, 171, 182);
}

.passed{
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 115, 0);
}