<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="">
        <div class="logo__wrapper">
          <img
            class="logo__image"
            src="./images/Logo/logo24.png"
            alt="logo"
            width="24"
          />
          <span class="logo__text">Filmoteka</span>
        </div>
      </a>

      <ul class="nav__list">
        <li class="nav__item"><a href="">Home</a></li>
        <li class="nav__item"><a href="./library.html">My Library</a></li>
      </ul>
    </nav>
    <form class="search__form">
      <input
        class="search__input"
        type="text"
        name="query"
        placeholder="Поиск фильмов"
      />
      <button class="search__btn" type="submit">
        <svg class="search__icon" width="16" height="16" >
          <use href="./SVG/symbol-defs.svg#icon-search-2">
        </use>
      </svg>
      </button>
    </form>
  </div>
</header>
